.nav {
  .menu-button {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem;
    &:hover {
      cursor: pointer;
      img {
        filter: blur(.5px);
        transition: .3s;
      }
    }
  }
}

@media(max-width: 768px) {
  .nav {
    .menu-button {
      padding: 0 1rem;
    }
  }
}


