.intro {
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  background-image: url('../../assets/intro.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  transition: all .3s ease-in;
}
.intro-text {
  text-align: center;
  z-index: 200;
  text-transform: uppercase;
  span {
    color: #b30202;
    font-weight: bold;
  }
}

.isVisIntro {
  transform: translateX(0);
}

.isNotVisIntro {
  transform: translateX(-100%);
}